---
http_interactions:
- request:
    method: post
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/load_balancer_pools//nodes
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '109'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e62896c54b07030021d137
    body:
      encoding: UTF-8
      string: "{\n    \"created\": \"2014-05-30T03:23:42Z\",\n    \"cloud_server\":
        {\n        \"id\": \"d95ae0c4-6ab8-4873-b82f-f8433840cff2\"\n    }, \n    \"id\":
        \"1860451d-fb89-45b8-b54e-151afceb50e5\",\n    \"load_balancer_pool\": {\n
        \       \"id\": \"d6d3aa7c-dfa5-4e61-96ee-1d54ac1075d2\"\n    },\n    \"status\":
        \"ADDING\",\n    \"status_detail\": null,\n    \"updated\": null\n}"
  recorded_at: Thu, 19 Feb 2015 18:16:54 GMT
recorded_with: VCR 2.9.3
