---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/load_balancer_pools/nodes/details?cloud_server_id=1860451d-fb89-45b8-b54e-151afceb50e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e601a832f1a00300a3b941
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "created": "2014-05-30T03:23:42Z",
                "id": "1860451d-fb89-45b8-b54e-151afceb50e5",
                "load_balancer_pool": {
                    "id": "d6d3aa7c-dfa5-4e61-96ee-1d54ac1075d2",
                    "name": "RCv3Test",
                    "node_counts": {
                        "cloud_servers": 3,
                        "external": 4,
                        "total": 7
                    },
                    "port": 80,
                    "status": "ACTIVE",
                    "status_detail": null,
                    "virtual_ip": "203.0.113.5"
                },
                "status": "ACTIVE",
                "status_detail": null,
                "updated": "2014-05-30T03:24:18Z"
            },
            {
                "created": "2014-05-31T08:23:12Z",
                "id": "efd5513c-a10b-46e3-bd0c-0ffbbfd29166",
                "load_balancer_pool": {
                    "id": "33021100-4abf-4836-9080-465a6d87ab68",
                    "name": "RCv3Test2",
                    "node_counts": {
                        "cloud_servers": 1,
                        "external": 0,
                        "total": 1
                    },
                    "port": 80,
                    "status": "ACTIVE",
                    "status_detail": null,
                    "virtual_ip": "203.0.113.7"
                },
                "status": "ADDING",
                "status_detail": null,
                "updated": "2014-05-31T08:23:26Z"
            }
        ]
  recorded_at: Thu, 19 Feb 2015 15:30:48 GMT
recorded_with: VCR 2.9.3
