---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/load_balancer_pools//nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '113'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e628951bd66f0300687c40
    body:
      encoding: UTF-8
      string: "[\n    {\n        \"created\": \"2014-05-30T03:23:42Z\",\n        \"cloud_server\":
        {\n            \"id\": \"d95ae0c4-6ab8-4873-b82f-f8433840cff2\"\n        },
        \n        \"id\": \"1860451d-fb89-45b8-b54e-151afceb50e5\",\n        \"load_balancer_pool\":
        {\n            \"id\": \"d6d3aa7c-dfa5-4e61-96ee-1d54ac1075d2\"\n        },\n
        \       \"status\": \"ACTIVE\",\n        \"status_detail\": null,\n        \"updated\":
        \"2014-05-30T03:24:18Z\"\n    },\n    {\n        \"created\": \"2014-05-31T08:23:12Z\",\n
        \       \"cloud_server\": {\n            \"id\": \"f28b870f-a063-498a-8b12-7025e5b1caa6\"\n
        \       },\n        \"id\": \"b70481dd-7edf-4dbb-a44b-41cc7679d4fb\",\n        \"load_balancer_pool\":
        {\n            \"id\": \"d6d3aa7c-dfa5-4e61-96ee-1d54ac1075d2\"\n        },\n
        \       \"status\": \"ADDING\",\n        \"status_detail\": null,\n        \"updated\":
        \"2014-05-31T08:23:26Z\"\n    },\n    {\n        \"created\": \"2014-05-31T08:23:18Z\",\n
        \       \"cloud_server\": {\n            \"id\": \"a3d3a6b3-e4e4-496f-9a3d-5c987163e458\"\n
        \       },\n        \"id\": \"ced9ddc8-6fae-4e72-9457-16ead52b5515\",\n        \"load_balancer_pool\":
        {\n            \"id\": \"d6d3aa7c-dfa5-4e61-96ee-1d54ac1075d2\"\n        },\n
        \       \"status\": \"ADD_FAILED\",\n        \"status_detail\": \"Unable to
        communicate with network device\",\n        \"updated\": \"2014-05-31T08:24:36Z\"\n
        \   }\n]"
  recorded_at: Thu, 19 Feb 2015 18:16:53 GMT
recorded_with: VCR 2.9.3
