---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/load_balancer_pools//nodes//details
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '114'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e628951bd66f0300687c3f
    body:
      encoding: UTF-8
      string: "{\n    \"created\": \"2014-05-30T03:23:42Z\",\n    \"cloud_server\":
        {\n        \"cloud_network\": {\n            \"cidr\": \"192.168.100.0/24\",\n
        \           \"created\": \"2014-05-25T01:23:42Z\",\n            \"id\": \"07426958-1ebf-4c38-b032-d456820ca21a\",\n
        \           \"name\": \"RC-CLOUD\",\n            \"private_ip_v4\": \"192.168.100.5\",\n
        \           \"updated\": \"2014-05-25T02:28:44Z\"\n        },\n        \"created\":
        \"2014-05-30T02:18:42Z\",\n        \"id\": \"d95ae0c4-6ab8-4873-b82f-f8433840cff2\",\n
        \       \"name\": \"RCv3TestServer1\",\n        \"updated\": \"2014-05-30T02:19:18Z\"\n
        \   }, \n    \"id\": \"1860451d-fb89-45b8-b54e-151afceb50e5\",\n    \"load_balancer_pool\":
        {\n        \"id\": \"d6d3aa7c-dfa5-4e61-96ee-1d54ac1075d2\",\n        \"name\":
        \"RCv3Test\",\n        \"node_counts\": {\n            \"cloud_servers\":
        3,\n            \"external\": 4,\n            \"total\": 7\n        },\n        \"port\":
        80,\n        \"status\": \"ACTIVE\",\n        \"status_detail\": null,\n        \"virtual_ip\":
        \"203.0.113.5\"\n    },\n    \"status\": \"ACTIVE\",\n    \"status_detail\":
        null,\n    \"updated\": \"2014-05-30T03:24:18Z\"\n}"
  recorded_at: Thu, 19 Feb 2015 18:16:53 GMT
recorded_with: VCR 2.9.3
