---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/cloud_networks/07426958-1ebf-4c38-b032-d456820ca21a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e4ffcc314f6b0300dd6b9d
    body:
      encoding: UTF-8
      string: |-
        {
            "cidr": "192.168.100.0/24",
            "created": "2014-05-25T01:23:42Z",
            "id": "07426958-1ebf-4c38-b032-d456820ca21a",
            "name": "RC-CLOUD",
            "updated": "2014-05-25T02:28:44Z"
        }
  recorded_at: Wed, 18 Feb 2015 21:10:36 GMT
recorded_with: VCR 2.9.3
