---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/cloud_networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e6289332f1a00300a3e59f
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "cidr": "192.168.100.0/24",
                "created": "2014-05-25T01:23:42Z",
                "id": "07426958-1ebf-4c38-b032-d456820ca21a",
                "name": "RC-CLOUD",
                "updated": "2014-05-25T02:28:44Z"
            }
        ]
  recorded_at: Thu, 19 Feb 2015 18:16:51 GMT
recorded_with: VCR 2.9.3
