---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/load_balancer_pools/d6d3aa7c-dfa5-4e61-96ee-1d54ac1075d2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '116'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e56eb1b369880300ad9de1
    body:
      encoding: UTF-8
      string: |-
        {
            "id": "d6d3aa7c-dfa5-4e61-96ee-1d54ac1075d2",
            "name": "RCv3Test",
            "node_counts": {
                    "cloud_servers": 3,
                    "external": 4,
                    "total": 7
                },
            "port": 80,
            "status": "ACTIVE",
            "status_detail": null,
            "virtual_ip": "203.0.113.5"
        }
  recorded_at: Thu, 19 Feb 2015 05:03:45 GMT
recorded_with: VCR 2.9.3
