---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/public_ips
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '105'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e62897c54b07030021d13b
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "created": "2014-05-30T03:23:42Z",
                "cloud_server": {
                    "cloud_network": {
                        "cidr": "192.168.100.0/24",
                        "created": "2014-05-25T01:23:42Z",
                        "id": "07426958-1ebf-4c38-b032-d456820ca21a",
                        "name": "RC-CLOUD",
                        "private_ip_v4": "192.168.100.5",
                        "updated": "2014-05-25T02:28:44Z"
                    },
                    "created": "2014-05-30T02:18:42Z",
                    "id": "d95ae0c4-6ab8-4873-b82f-f8433840cff2",
                    "name": "RCv3TestServer1",
                    "updated": "2014-05-30T02:19:18Z"
                },
                "id": "2d0f586b-37a7-4ae0-adac-2743d5feb450",
                "public_ip_v4": "203.0.113.110",
                "status": "ACTIVE",
                "status_detail": null,
                "updated": "2014-05-30T03:24:18Z"
            }
        ]
  recorded_at: Thu, 19 Feb 2015 18:16:55 GMT
recorded_with: VCR 2.9.3
