---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/server_groups/5a79cb9a-f086-4714-8d5f-cd3b31e6687a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '98'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e62899ab018303006243e8
    body:
      encoding: UTF-8
      string: |-
        {
            "created": "2014-05-30T03:23:42Z",
            "id": "5a79cb9a-f086-4714-8d5f-cd3b31e6687a",
            "name": "RC-TestGroup1",
            "node_counts": {
                "cloud_servers": 3,
                "external": 4,
                "total": 7
            },
            "status": "ACTIVE",
            "status_detail": null,
            "updated": "2014-05-30T03:24:42Z"
        }
  recorded_at: Thu, 19 Feb 2015 18:16:58 GMT
recorded_with: VCR 2.9.3
