---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/server_groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '99'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e62899ab018303006243e7
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "created": "2014-05-30T03:23:42Z",
                "id": "5a79cb9a-f086-4714-8d5f-cd3b31e6687a",
                "name": "RC-TestGroup1",
                "node_counts": {
                    "cloud_servers": 3,
                    "external": 4,
                    "total": 7
                },
                "status": "ACTIVE",
                "status_detail": null,
                "updated": "2014-05-30T03:24:42Z"
            },
            {
                "created": "2014-05-30T03:25:42Z",
                "id": "258e332a-2834-42ae-93f0-b30e4552f119",
                "name": "RC-TestGroup2",
                "node_counts": {
                    "cloud_servers": 1,
                    "external": 0,
                    "total": 1
                },
                "status": "ACTIVE",
                "status_detail": null,
                "updated": "2014-05-30T03:26:42Z"
            },
            {
                "created": "2014-05-30T03:27:42Z",
                "id": "b5aa5c07-88b5-4bd4-885d-c1ec3f443c8d",
                "name": "RC-TestGroup3",
                "node_counts": {
                    "cloud_servers": 2,
                    "external": 3,
                    "total": 5
                },
                "status": "ADD_FAILED",
                "status_detail": "Unable to communicate with network device",
                "updated": "2014-05-30T03:28:42Z"
            }
        ]
  recorded_at: Thu, 19 Feb 2015 18:16:57 GMT
recorded_with: VCR 2.9.3
