---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/server_groups//nodes//details
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '102'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e56eb5b369880300ad9dec
    body:
      encoding: UTF-8
      string: "{\n    \"created\": \"2014-05-30T03:23:42Z\",\n    \"cloud_server\":
        {\n        \"cloud_network\": {\n            \"cidr\": \"192.168.100.0/24\",\n
        \           \"created\": \"2014-05-25T01:23:42Z\",\n            \"id\": \"07426958-1ebf-4c38-b032-d456820ca21a\",\n
        \           \"name\": \"RC-CLOUD\",\n            \"private_ip_v4\": \"192.168.100.5\",\n
        \           \"updated\": \"2014-05-25T02:28:44Z\"\n        },\n        \"created\":
        \"2014-05-30T02:18:42Z\",\n        \"id\": \"d95ae0c4-6ab8-4873-b82f-f8433840cff2\",\n
        \       \"name\": \"RCv3TestServer1\",\n        \"updated\": \"2014-05-30T02:19:18Z\"\n
        \   }, \n    \"id\": \"1860451d-fb89-45b8-b54e-151afceb50e5\",\n    \"server_group\":
        {\n        \"created\": \"2014-05-30T03:23:42Z\",\n        \"id\": \"5a79cb9a-f086-4714-8d5f-cd3b31e6687a\",\n
        \       \"name\": \"RC-TestGroup1\",\n        \"node_counts\": {\n            \"cloud_servers\":
        3,\n            \"external\": 4,\n            \"total\": 7\n        },\n        \"status\":
        \"ACTIVE\",\n        \"status_detail\": null,\n        \"updated\": \"2014-05-30T03:24:42Z\"\n
        \   },\n    \"status\": \"ACTIVE\",\n    \"status_detail\": null,\n    \"updated\":
        \"2014-05-30T03:24:18Z\"\n}"
  recorded_at: Thu, 19 Feb 2015 05:03:49 GMT
recorded_with: VCR 2.9.3
