---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/server_groups//nodes/61dd2626-ae0d-4a64-b59e-c54e101dbe22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e6289cc54b07030021d144
    body:
      encoding: UTF-8
      string: "{\n    \"created\": \"2014-05-30T03:23:42Z\",\n    \"cloud_server\":
        {\n        \"id\": \"d95ae0c4-6ab8-4873-b82f-f8433840cff2\"\n    }, \n    \"id\":
        \"1860451d-fb89-45b8-b54e-151afceb50e5\",\n    \"server_group\": {\n        \"id\":
        \"5a79cb9a-f086-4714-8d5f-cd3b31e6687a\"\n    },\n    \"status\": \"ACTIVE\",\n
        \   \"status_detail\": null,\n    \"updated\": \"2014-05-30T03:24:18Z\"\n}"
  recorded_at: Thu, 19 Feb 2015 18:17:01 GMT
recorded_with: VCR 2.9.3
