---
http_interactions:
- request:
    method: get
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/server_groups//nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e6289c1bd66f0300687c4e
    body:
      encoding: UTF-8
      string: "[\n    {\n        \"created\": \"2014-05-30T03:23:42Z\",\n        \"cloud_server\":
        {\n            \"id\": \"d95ae0c4-6ab8-4873-b82f-f8433840cff2\"\n        },
        \n        \"id\": \"61dd2626-ae0d-4a64-b59e-c54e101dbe22\",\n        \"server_group\":
        {\n            \"id\": \"5a79cb9a-f086-4714-8d5f-cd3b31e6687a\"\n        },\n
        \       \"status\": \"ACTIVE\",\n        \"status_detail\": null,\n        \"updated\":
        \"2014-05-30T03:24:18Z\"\n    },\n    {\n        \"created\": \"2014-05-31T08:23:12Z\",\n
        \       \"cloud_server\": {\n            \"id\": \"f28b870f-a063-498a-8b12-7025e5b1caa6\"\n
        \       },\n        \"id\": \"a3f253a1-cc61-42a6-9da8-34f1dc8efb26\",\n        \"server_group\":
        {\n            \"id\": \"5a79cb9a-f086-4714-8d5f-cd3b31e6687a\"\n        },\n
        \       \"status\": \"ADDING\",\n        \"status_detail\": null,\n        \"updated\":
        \"2014-05-31T08:23:26Z\"\n    },\n    {\n        \"created\": \"2014-05-31T08:23:18Z\",\n
        \       \"cloud_server\": {\n            \"id\": \"a3d3a6b3-e4e4-496f-9a3d-5c987163e458\"\n
        \       },\n        \"id\": \"d1f7fd63-d8cc-45f2-845b-482b5cb99f91\",\n        \"server_group\":
        {\n            \"id\": \"5a79cb9a-f086-4714-8d5f-cd3b31e6687a\"\n        },\n
        \       \"status\": \"ADD_FAILED\",\n        \"status_detail\": \"Unable to
        communicate with network device\",\n        \"updated\": \"2014-05-31T08:24:36Z\"\n
        \   }\n]"
  recorded_at: Thu, 19 Feb 2015 18:17:00 GMT
recorded_with: VCR 2.9.3
