---
http_interactions:
- request:
    method: post
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/server_groups
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e61dad32f1a00300a3dcfb
    body:
      encoding: UTF-8
      string: |-
        {
            "id": "5a79cb9a-f086-4714-8d5f-cd3b31e6687a",
            "name": "RC-TestGroup1",
            "node_counts": {
                "cloud_servers": 0,
                "external": 0,
                "total": 0
            },
            "status": "ADDING",
            "status_detail": null,
            "updated": null
        }
  recorded_at: Thu, 19 Feb 2015 17:30:21 GMT
recorded_with: VCR 2.9.3
