---
http_interactions:
- request:
    method: post
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/server_groups/nodes
    body:
      encoding: UTF-8
      string: '{"cloud_server":{"id":"d95ae0c4-6ab8-4873-b82f-f8433840cff2"},"server_group":{"id":"5a79cb9a-f086-4714-8d5f-cd3b31e6687a"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e62ce51bd66f0300688079
    body:
      encoding: UTF-8
      string: "[\n    {\n        \"created\": \"2014-05-30T03:23:42Z\",\n        \"cloud_server\":
        {\n            \"id\": \"d95ae0c4-6ab8-4873-b82f-f8433840cff2\"\n        },
        \n        \"id\": \"1860451d-fb89-45b8-b54e-151afceb50e5\",\n        \"server_group\":
        {\n            \"id\": \"5a79cb9a-f086-4714-8d5f-cd3b31e6687a\"\n        },\n
        \       \"status\": \"ADDING\",\n        \"status_detail\": null,\n        \"updated\":
        null\n    },\n    {\n        \"created\": \"2014-05-31T08:23:12Z\",\n        \"cloud_server\":
        {\n            \"id\": \"d95ae0c4-6ab8-4873-b82f-f8433840cff2\"\n        },\n
        \       \"id\": \"b70481dd-7edf-4dbb-a44b-41cc7679d4fb\",\n        \"server_group\":
        {\n            \"id\": \"258e332a-2834-42ae-93f0-b30e4552f119\"\n        },\n
        \       \"status\": \"ADDING\",\n        \"status_detail\": null,\n        \"updated\":
        null\n    }\n]"
  recorded_at: Thu, 19 Feb 2015 18:35:17 GMT
recorded_with: VCR 2.9.3
