---
http_interactions:
- request:
    method: post
    uri: http://private-12275-rcv3.apiary-mock.com/v3/930035/server_groups//nodes
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 54e6237ac54b07030021cda5
    body:
      encoding: UTF-8
      string: "{\n    \"created\": \"2014-05-30T03:23:42Z\",\n    \"cloud_server\":
        {\n        \"id\": \"d95ae0c4-6ab8-4873-b82f-f8433840cff2\"\n    }, \n    \"id\":
        \"61dd2626-ae0d-4a64-b59e-c54e101dbe22\",\n    \"server_group\": {\n            \"id\":
        \"5a79cb9a-f086-4714-8d5f-cd3b31e6687a\"\n        },\n    \"status\": \"ADDING\",\n
        \   \"status_detail\": null,\n    \"updated\": null\n}"
  recorded_at: Thu, 19 Feb 2015 17:55:06 GMT
recorded_with: VCR 2.9.3
