---
http_interactions:
- request:
    method: get
    uri: https://iad.rackconnect.api.rackspacecloud.com/v3/886196/load_balancer_pools/d6060853-6432-44ca-a439-963779563f96
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - f423c01f9be64e4fa1c114c885183b54
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"raxqercmgd1-pool2","node_counts":{"cloud_servers":2,"external":5,"total":7},"port":0,"status":"ACTIVE","status_detail":null,"virtual_ip":null,"id":"d6060853-6432-44ca-a439-963779563f96"}'
  recorded_at: Wed, 11 Mar 2015 19:53:33 GMT
recorded_with: VCR 2.9.3
