---
http_interactions:
- request:
    method: get
    uri: https://iad.rackconnect.api.rackspacecloud.com/v3/886196/load_balancer_pools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - f423c01f9be64e4fa1c114c885183b54
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"name":"raxqercmgd1-pool2","node_counts":{"cloud_servers":2,"external":5,"total":7},"port":0,"status":"ACTIVE","status_detail":null,"virtual_ip":null,"id":"d6060853-6432-44ca-a439-963779563f96"},{"name":"raxqercmgd1-pool3","node_counts":{"cloud_servers":1,"external":2,"total":3},"port":0,"status":"ACTIVE","status_detail":null,"virtual_ip":null,"id":"b946cf13-d8c1-45f6-962e-117f76382dd6"},{"name":"raxqercmgd1-pool1","node_counts":{"cloud_servers":1,"external":8,"total":9},"port":0,"status":"ACTIVE","status_detail":null,"virtual_ip":null,"id":"48fd212c-fe52-4a36-9f2d-e639c027322b"},{"name":"RCv3Test","node_counts":{"cloud_servers":2,"external":15,"t[...]
