---
http_interactions:
- request:
    method: get
    uri: https://iad.rackconnect.api.rackspacecloud.com/v3/886196/cloud_networks/07426958-1ebf-4c38-b032-d456820ca21a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - f423c01f9be64e4fa1c114c885183b54
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cidr":"192.168.59.0/24","created":"2014-04-08T19:03:40.887Z","name":"RC-RC-CLOUD","updated":"2014-10-24T21:30:54.94Z","id":"07426958-1ebf-4c38-b032-d456820ca21a"}'
  recorded_at: Wed, 11 Mar 2015 19:53:22 GMT
recorded_with: VCR 2.9.3
