---
http_interactions:
- request:
    method: get
    uri: https://iad.rackconnect.api.rackspacecloud.com/v3/886196/public_ips/5002e073-8bdd-4d40-b89c-1b6a049e075d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - f423c01f9be64e4fa1c114c885183b54
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"created\":\"2014-10-15T20:56:47.26Z\",\"cloud_server\":{\"cloud_network\":{\"cidr\":null,\"created\":\"0001-01-01T00:00:00Z\",\"name\":null,\"updated\":null,\"id\":\"00000000-0000-0000-0000-000000000000\"},\"created\":\"2014-10-15T20:56:43.43Z\",\"name\":\"SR-Test-20141015-a\",\"updated\":\"2014-10-22T14:31:29.157Z\",\"id\":\"77e8373a-0e3c-4517-aefb-7d3eb2b66cdd\"},\"id\":\"5002e073-8bdd-4d40-b89c-1b6a049e075d\",\"configuration_to_cloud_account_uuid\":\"294f943d-f189-e311-9829-a0369f180f43\",\"public_ip_v4\":null,\"status\":\"ADDING\",\"status_detail\":null,\"updated\":null,\"retain\":false,\"failure_core_ticket_uuid\":\"00000000-0000-0000-0000-000000000000\"}"
  recorded_at: Wed, 11 Mar 2015 20:42:42 GMT
recorded_with: VCR 2.9.3
