---
http_interactions:
- request:
    method: get
    uri: https://iad.rackconnect.api.rackspacecloud.com/v3/886196/public_ips
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - f423c01f9be64e4fa1c114c885183b54
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"created":"2014-10-15T20:56:47.26Z","cloud_server":{"cloud_network":{"cidr":null,"created":"0001-01-01T00:00:00Z","name":null,"updated":null,"id":"00000000-0000-0000-0000-000000000000"},"created":"2014-10-15T20:56:43.43Z","name":"SR-Test-20141015-a","updated":"2014-10-22T14:31:29.157Z","id":"77e8373a-0e3c-4517-aefb-7d3eb2b66cdd"},"id":"5002e073-8bdd-4d40-b89c-1b6a049e075d","configuration_to_cloud_account_uuid":"294f943d-f189-e311-9829-a0369f180f43","public_ip_v4":null,"status":"ADDING","status_detail":null,"updated":null,"retain":false,"failure_core_ticket_uuid":"00000000-0000-0000-0000-000000000000"},{"created":"2014-07-01T15:13:03.833Z","cloud_server":{"cloud_network":{"cidr":"192.168.59.0/24","created":"2014-04-08T19:03:40.887Z","name":"RC-RC-CLOUD","private_ip_v4":"192.168.59.7","updated":"2014-10-24T21:30:54.94Z","id":"07426958-1ebf-4c38-b032-d456820ca21a"},"created":"2014-07-01T15:12:45.037Z","name":"Rakesh-Demo","updated":"2014-07-09T17:52:21.03Z","id":"efca5e7d-bb2c-44fd-9c47-0e08866dd84b"},"id":"bc8101b7-f470-4092-9887-9e17ed4eda81","configuration_to_cloud_account_uuid":"294f943d-f189-e311-9829-a0369f180f43","public_ip_v4":"23.253.129.153","status":"ACTIVE","status_detail":null,"updated":"2014-09-10T13:46:02.617Z","retain":false,"failure_core_ticket_[...]
