---
http_interactions:
- request:
    method: get
    uri: https://iad.rackconnect.api.rackspacecloud.com/v3/886196/server_groups/9b47e521-d4d4-4290-b77a-5b6996fde650
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - f423c01f9be64e4fa1c114c885183b54
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"RC-RC-ArpithTestServerGroupName","node_counts":{"cloud_servers":0,"external":0,"total":0},"status":"ADDING","status_detail":null,"created":"2014-11-19T22:01:59.65Z","id":"9b47e521-d4d4-4290-b77a-5b6996fde650"}'
  recorded_at: Wed, 11 Mar 2015 19:53:41 GMT
recorded_with: VCR 2.9.3
